<div>
  <app-id-editor *ngIf="!venue.isNew"
    label="Идентификатор"
    [add]="true"
    buttonTitle="Новая площадка"
    [(value)]="venue.id"
    (toggle)="venue.isNew = !venue.isNew"
  ></app-id-editor>

  <app-id-editor *ngIf="venue.isNew"
    label="Идентификатор"
    [add]="false"
    buttonTitle="Уже существующая площадка"
    [(value)]="venue.id"
    (toggle)="venue.isNew = !venue.isNew"
  ></app-id-editor>

  <app-input-editor *ngIf="venue.isNew"
                    label="Название" [(value)]="venue.name" [type]="InputType.Text">
  </app-input-editor>

  <app-input-editor *ngIf="venue.isNew"
                    label="Адрес" [(value)]="venue.address" [type]="InputType.Text">
  </app-input-editor>

  <app-input-editor *ngIf="venue.isNew"
                    label="Карта" [(value)]="venue.mapUrl" [type]="InputType.Url">
  </app-input-editor>


</div>
