<div class="row">
  <div class="col-sm-9">
    <app-general-editor *ngIf="state == EditorState.General"
                        [meetup]="meetup" >
    </app-general-editor>

    <app-session-editor *ngIf="state == EditorState.Talk"
                        [session]="meetup.sessions[selectedIndex]">
    </app-session-editor>

    <app-speaker-list-editor *ngIf="state == EditorState.Speaker"
                             [talk]="meetup.sessions[selectedIndex].talk"
                             [meetup]="meetup">
    </app-speaker-list-editor>
  </div>

  <div class="col-sm-3">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a href="#" class="nav-link"
           (click)="state=EditorState.General"
           [class.active]="state == EditorState.General">Общая информация</a>
      </li>

      <ng-container *ngFor="let session of meetup.sessions; index as index">
        <li class="nav-item">
          <a href="#" class="nav-link "
             (click)="state=EditorState.Talk;selectedIndex = index;"
             [class.active]="state == EditorState.Talk && selectedIndex == index">
            Доклад {{index + 1}}
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link "
             (click)="state=EditorState.Speaker;selectedIndex = index;"
             [class.active]="state == EditorState.Speaker && selectedIndex == index">
            Спикеры
          </a>
        </li>
      </ng-container>

      <li class="nav-item">
        <a href="#" class="nav-link " (click)="addSession()">
          <i class="fa fa-plus"></i> Добавить доклад
        </a>
      </li>
    </ul>

    <br/><br/><br/>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a href="#" class="nav-link" (click)="clear()">
          <i class="fa fa-eraser"></i> Очистить
        </a>
      </li>
    </ul>
  </div>
</div>
