<fieldset *ngFor="let speaker of talk.speakers; index as index; trackBy: trackById">
  <legend>{{index + 1}}</legend>

  <button class="btn btn-dark ml-2 pull-right"
          (click)="removeSpeker(index)"
          [disabled]="talk.speakers.length <= 1"><i class="fa fa-trash"></i> Удалить
  </button>

  <app-speaker-editor
          [speaker]="speaker">
  </app-speaker-editor>
</fieldset>

<div class="form-group row" >
  <div class="col-form-label col-sm-12">
    <button class="btn btn-info pull-right" (click)="addSpeaker()">
      <i class="fa fa-plus"></i> Еще один спикер
    </button>
  </div>
</div>
