<div class="form-group row">
  <label [for]="id" class="col-sm-3 col-form-label">{{label}}:</label>
  <div class="col-sm-9">
    <input *ngIf="type != InputType.TextArea"
           [type]="InputType[type]"
           class="form-control"
           [id]="id"
           [ngModel]="value"
           (ngModelChange)="valueChange.emit($event)"
           pattern="^(([^:/?#]+):)?(//([^/?#]*))?([^?#]*)(\?([^#]*))?(#(.*))?"
           />

    <textarea *ngIf="type == InputType.TextArea"
               class="form-control"
              [id]="id"
              [ngModel]="value"
              (ngModelChange)="valueChange.emit($event)"></textarea>
  </div>
</div>
